html {
    background-color: aliceblue;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin: 15px;

}

.form-submit-button {
    background: #0066A2;
    color: white;
    border-style: outset;
    border-color: #0066A2;
    height: 50px;
    width: 100px;
    font: bold 15px arial, sans-serif;
    text-shadow: none;
    margin-top: 10px;
}

.sport {
    background: #0066A2;
    color: white;
    border-style: outset;
    border-color: #0066A2;
    height: 50px;
    width: 100px;
    font: bold 15px arial, sans-serif;
    text-shadow: none;
    margin: 10px;
}

.sportsButtons {
    padding: 10px;
    margin: 10px;
}

.sports {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
}

.sportClass {
    padding: 10px;
    margin: 10px;
}

.section {
    display: flex;
    flex-direction: row;
}

p {
    padding-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

